@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;

}
html {
    height: 100%;
    width: 100%;
}
body {
    color: #343434;
    background: #f7f7f7;
    height: 100%;
    width: 100%;
    font-size: 1em;
    font-family: PT Serif, sans-serif;

}
central-unit {
    background-color: #e4fdfd;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    max-width: 100%;
    display: block;
}
.informer {
    background-color: #eaeaea;
    margin: 5px;
    padding: 1%;
    border: 1px solid #909090;
    border-radius: 20px;
    border-color: #3e3b3b;
    font-style: italic;
    text-align: justify;
    text-indent: 30px;
    display: block;
}
#main_unit {
    text-align: center;
}
.menu_unit {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 137, 255, 0.27);
    border-radius: 35px;
    border: 2px solid #383838;
    
}
/* Стиль ссылок блока меню*/
#menu_unit aAAAAAAAAAA {
    margin: 2px;
    color: #19014b;
    background-color: #d5fcff;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #909090;
    text-decoration: none;
    line-height: 150%;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
    box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.3);
    display: block;
}
#menu_unit aAAAAAAAAAAA:hover {
    width: 100%;
    text-decoration:none ;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);    
}
#menu_unit aAAAAAAAAAA:active {
    color: #910122;
}
/* Стиль ввода */ 
input[type=text].field, input[type=password].field {
    padding: 5px;
    margin: 1px;
    border: 1px solid #575757;
    border-radius: 15px;
}
input:focus[type=text].field{border: 1px solid #03d703}

input:invalid[type=text] {
    border:1px solid red !important;
}
.save_booton, .save_booton_big {
    background-color: rgba(0, 137, 255, 0.27);
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    border: 2px solid #909090;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    display:inline-table;
    line-height: 100%;
    cursor:pointer;
    box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.3);
    z-index: 1005;
}
.save_booton_big{
    font-size: 1.0em;
}
.save_booton:hover {
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}
#restart, #reset {
    background-color: #ff94a9;
    width: 98%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #909090;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    line-height: 100%;
    cursor:pointer;
    box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.3);
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
#restart:hover, #reset:hover {
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}
.left {float: left}
.right {float: right}
.center {margin-left: 25%}
.clear {clear: both}
titles {
    color: darkblue;
    padding-bottom: 10px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
paragraph {
    color: #000019;
    padding-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: block;
    line-height: 140%;
}
/* Стиль выделения на странице */
::selection {background: green; color: #fff}
::-moz-selection {background: green; color: #fff}
/* Стиль переключателя */
.switch {
    margin-bottom: 14px;
    margin-top: 0;
    display: block;
    border-color: firebrick;
}
input[type=checkbox] {
    display:none; 
}
.switch-btn {
    border-color: #000019;
    width: 56px;
    height: 30px;
    margin-left: 10px;
    background: #ededed;
    position: absolute;
    cursor: pointer;
    border: 2px solid #909090;
    border-radius: 18px;
    transform: scale(0.9);
}
input:checked[type="checkbox"] + .switch-btn {
    background: rgba(0, 137, 255, 0.27);
}
.switch-btn:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: #ffffff;
    left: 4px;
    top: 3px;
    border-radius: 50%;
    transition: .3s;
    box-shadow: inset 3px -3px 5px 3px rgba(0,0,0,0.2),
                0 0 2px 2px rgba(0,0,0,0.4);
    transform: scale(0.9);
}
input:checked[type="checkbox"] + .switch-btn:before{
    left: 28px;
    transition: .3s;
}
/* Стили для селекта */
select {  
    height: 28px;
    padding: 0px 5px 0px;
    margin-bottom: 2px;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    border: 1px solid #909090;
}
/* Стили шапки и низа */
header, footer {
    padding: 5px;  /* Отступ слева и справа */
    margin-left: auto;
    margin-right: auto;
    width: 470px;
    max-width: 100%;
    display: block;
}
header {
    color: #00008B;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 115%;
}
footer {
    background-color: #e4fdfd;
    display: block;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-weight: bold;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.4);
}
.lang {
    width: 320px;
    padding: 0 10px;
    display:inline-flex;
    line-height: 40px;
    justify-content:center;
 
}
.flags {
    cursor: pointer;
    margin: 0 5px;
}
.flags:hover {
    transition: all.2s;
    border-radius: 15px;
    box-shadow:  0 0 5px 2px rgba(0,0,0,0.4);
}
.flags:active {
    transition: all.2s ease;
    border-radius: 50%;
    box-shadow:  0 0 5px 2px rgba(0,0,0,0.6);
}
.link__img{
    text-decoration: none;
    z-index: 1000;
    text-align: center;
    text-decoration: none;
}
.menu__img{
    display: block;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #656565;    
}
.menu__img:hover{
    cursor: pointer;
    box-shadow:  0 0 5px rgb(0, 0, 0, 0.7)
}
.ico__text{
    margin: -0 0 -8px 0;
    font-size: .8em;
    color: #434343;
    //display: none;
    display: block;
}
